<div>
    <h2 data-translate="letItJumpApp.achievement.home.title">Achievements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="achievement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="letItJumpApp.achievement.home.createLabel">
                        Create new Achievement
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="letItJumpApp.achievement.name">Name</span></th>
                    <th><span data-translate="letItJumpApp.achievement.prize">Prize</span></th>
                    <th><span data-translate="letItJumpApp.achievement.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="achievement in vm.achievements track by achievement.id">
                    <td><a ui-sref="achievement-detail({id:achievement.id})">{{achievement.id}}</a></td>
                    <td>{{achievement.name}}</td>
                    <td>{{achievement.prize}}</td>
                    <td>
                        <span ng-repeat="user in achievement.users">
                            {{user.login}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="achievement-detail({id:achievement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="achievement.edit({id:achievement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="achievement.delete({id:achievement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
