<div>
    <h2 data-translate="letItJumpApp.userPowerUp.home.title">User Power Ups</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-power-up.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="letItJumpApp.userPowerUp.home.createLabel">
                        Create new User Power Up
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span data-translate="letItJumpApp.userPowerUp.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="letItJumpApp.userPowerUp.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="powerUp.name"><span data-translate="letItJumpApp.userPowerUp.powerUp">Power Up</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userPowerUp in vm.userPowerUps track by userPowerUp.id">
                    <td><a ui-sref="user-power-up-detail({id:userPowerUp.id})">{{userPowerUp.id}}</a></td>
                    <td>{{userPowerUp.quantity}}</td>
                    <td>
                        {{userPowerUp.user.login}}
                    </td>
                    <td>
                        <a ui-sref="power-up-detail({id:userPowerUp.powerUp.id})">{{userPowerUp.powerUp.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-power-up-detail({id:userPowerUp.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-power-up.edit({id:userPowerUp.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-power-up.delete({id:userPowerUp.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
